<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
  <span class="todo-count"
    ><strong>{{ pendingItems }}</strong> item left</span
  >
  <ul class="filters">
    <li *ngFor="let filter of filters" (click)="setFilter(filter)">
      <a [class.selected]="getIsOptionSelected(filter)">{{
        filter | titlecase
      }}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="deleteAllCompleted()">
    Clear completed
  </button>
</footer>
